/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

:root { 
    --white: hsl(0, 0%, 100%);
    --light: hsl(217, 12%, 63%);
    --medium: hsl(216, 12%, 54%);
    --almost-dark: hsl(200, 10%, 20%);
    --dark: hsl(213, 19%, 18%);
    --very-dark: hsl(216, 12%, 8%);
    --highlight: hsl(25, 97%, 53%);
}

body {
    background-color: var(--very-dark);
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--dark);
    border-radius: 10px;
    margin: 1.5rem;
    padding: 1.5rem;
    max-width: 26rem;
}

.hidden {
    display: none;
}

.star {
    border-radius: 50px;
    background-color: var(--almost-dark);
    padding: 1rem;
    justify-self: flex-start;
}

h1 {
    color: var(--white);
    margin: 1rem 0;
}

.main-text, 
.thanks-text {
    color: var(--medium);
}

/* form */
.ratings {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* div holding the buttons */
.rating-buttons {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    width: 100%;
}

.rating-buttons input[type="radio"] {
    appearance: none;
    margin: 0;
    font: inherit;
}

.rating-label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--almost-dark);
    color: var(--medium);
    border-radius: 50%;
    width: 3em;
    height: 3em;
    font-weight: bold;
    font-size: 1.2em;
}

.rating-label:hover {
    color: var(--white);
    background-color: var(--medium);
    cursor: pointer;
}

.active {
    background-color: var(--highlight);
    color: var(--white);
}

.submit {
    width: 100%;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--highlight);
    letter-spacing: .2rem;
    padding: .8rem .4rem .4rem .4rem;
}

.submit:hover {
    background-color: var(--white);
    color: var(--highlight);
    cursor: pointer;
}

/* thank you page */
.thanks-page {
    align-items: center;
}

.thanks-image {
    margin: 1.5rem;
}

.your-rating {
    color: var(--highlight);
    background-color: var(--almost-dark);
    border-radius: 20px;
    padding: .25rem 1rem;
    padding-top: 10px;
    margin-bottom: .5rem;
}

.thanks-text {
    text-align: center;
}

@media (max-width: 26.5rem) {
    .rating-label {
        width: 2.5em;
        height: 2.5em;
    }
}
@media (max-width: 23rem) {
    .rating-label {
        width: 2em;
        height: 2em;
    }
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }